[submodule "wasm-proofs/WasmCert-Isabelle"]
	path = wasm-proofs/WasmCert-Isabelle
	url = https://github.com/yhdengh/WasmCert-Isabelle.git
[submodule "spec"]
	path = spec
	url = https://github.com/fix-project/spec.git
